
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");


*{


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    font-family:"Poppins",serif  ;


  }
body{
    background-color: #1a234c;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    max-width: 1200px;
    padding: 0 0.5rem;
 }

.navigation ul{

    display: flex;
    list-style: none;
    gap: 2rem;
    }

.navigation a {

    text-decoration: none;
    color: #eeeeee;

    }


.navigation a:hover{
    color: rgb(29, 149, 224);
    }


hr{

    opacity: 15%;

    }

.hero{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;

}

.herosub{

    display: flex;
    flex-direction: column;
    gap:0.5rem
}


.name{
    font-size: 3rem;
    color: #ffffff;
}

.title{
    font-size: 4rem;
    color: #027a80;
}

.herobtns{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.WorkWhitMe{
    background-color:#027a80 ;
    color: #eeeeee;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.AboutMe{
     background-color:#027a80 ;
    color: #eeeeee;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.aboutMe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
    gap: 10rem;
}

.textContainer{
    display: flex;
    flex-direction: column;
}
.textTitle{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}

.aboutName{
    color: #eeeeee;
}
.aboutTitle{
    color: #027a80;
}

.aboutMePar{
    text-align: justify;
    color: rgba(238, 238, 238, 0.75);
}
.Works{
    background-image: url("imgs/Yellow\ and\ Black\ Luxury\ Background\ Instagram\ Post\ \(1\).png"); 
    padding: 10rem 10rem;
    margin: 5rem 0rem;
}
.WorksContaner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin: 5rem auto;
    max-width: 1200px;
}

.projectTitle {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    font-size: 2rem;
}
.Works ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}
.Works li {
    border-radius: 16px;
    background-color: rgba(57,62,70,0.5);
    backdrop-filter: blur(4px);
    padding: 1rem 3rem;
}
.Works li img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: transform 1s;
}

.Works li  :hover {
    transform:   scale(1.25);
}
.contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem ;
    margin: 2rem auto;
    max-width: 1200px;
}
.contactTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
}
.Contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    gap: 20rem;
}
.Contact h3 , .Contact a {
    color: #eeeeee;
    text-decoration: none;
}
.emailandDiscord{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
footer{
    color: #eeeeee;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
}


@media (max-width: 1023px) {
  header {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .heroimg {
    width: 400px;
  }
  .name,
  .title {
    font-size: 2rem;
  }
  .arrow {
    display: none;
  }
  .aboutMe {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .textContainer {
    align-items: center;
    margin: 0rem 5rem;
    gap: 1rem;
  }
  .aboutName,
  .aboutTitle {
    font-size: 2rem;
  }
  .light {
    flex-direction: column;
    width: 60px;
  }
  .aboutMe img {
    width: 200px;
  }
  .Works {
    padding: 0;
  }
  .WorksContainer {
    padding: 5rem 0rem;
    gap: 3rem;
  }
  .projectTitle {
    margin-left: 1rem;
  }
  .Works ul {
    flex-direction: column;
    gap: 1rem;
  }
  .contactContainer {
    margin: 10rem 5rem;
    gap: 2rem;
  }
  .Contact {
    flex-direction: column;
    gap: 1rem;
    margin-right: 0;
  }

}
